############################
# Visual Studio
############################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

############################
# Build results
############################
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
AnyCPU/

############################
# .NET
############################
*.dll
*.exe
*.pdb
*.cache
*.log

############################
# NuGet
############################
packages/
*.nupkg
*.snupkg
.nuget/

############################
# Test
############################
TestResults/
*.trx

############################
# Publish
############################
publish/
app.publish/

############################
# IDE khác
############################
.idea/
.vscode/

############################
# Windows
############################
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

############################
# Others
############################
*.tmp
*.bak
*.old
*.orig
*.swp
